<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		
		<title>QVisio</title>
		
		<!--  Hogan.js -->
		<script src="static/js/hogan-3.0.1.js"></script>
		
		<!--  JQuery -->
		<script src="static/js/jquery.min.js"></script>
		
		<!--  Modernizr.js -->
		<script src="static/js/modernizr.js"></script>
		
		<!-- D3 -->
		<script src="static/js/d3.v3.min.js"></script>
		<script src="static/js/nv.d3.js"></script>
		
		<!--  Utilities -->
		<script src = 'static/js/Util/Util.js' type='text/javascript'></script>
		
		
		<!--  Models -->
		<script src = 'static/js/Model/Ariel.js' type='text/javascript'></script>
		<script src = 'static/js/Model/LogSource.js' type='text/javascript'></script>
		<script src = 'static/js/Model/Main.js' type='text/javascript'></script>
		<script src = 'static/js/Model/Store.js' type='text/javascript'></script>
		<script src = 'static/js/Model/Visualizer.js' type='text/javascript'></script>
		
		<!--  GUI -->
		<script src='static/js/interact.js' type='text/javascript'></script>
		
		<!--  HTML Templates -->
		
		<!--  CSS -->
		<link rel="stylesheet" href="static/css/main.css" />
		<link  href="static/css/nv.d3.css" rel="stylesheet">
		
		<script type='text/javascript'>
			var console_ip;
			//global Error variable
			var Error;
		   function loadApp(){
				//declare console ip
				var value = getValueById('console_ip');
			 	 console_ip = 'https://' + value;
				//state of processing our API calls (from start to finsh)
			 	var processed = 0;
	
			 	//on page start
			 	initVisio('LAST 1 MINUTES', (function () {
			 	    clearLoader();
			 	}));
		   }
		   function clearLoader () {
		 	    console.log("Finished loading model");
		 	    $(".se-pre-con").fadeOut("fast");;
		 	}
		</script>
		
	</head>



<body onload="loadApp()">	
<div class="se-pre-con"></div>
	<input type="hidden" name="console_ip" id="console_ip" value="{{console_ip}}">	
		<div id = 'app'>			
			<header> 
			</header>			

			<div class="row">
				<div class="sidebar"> <aside> </aside>
			</div>			
				
				<div class="main" > 
				<br>
				<section> 
				</section>
				<div id = "content"> </div>
				
				</div>  
				
			</div>				
		</div>	 	 	

</body>
</html>
