<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		
		<title>QVisio</title>
		
		<!--  Hogan.js -->
		<script src="static/js/hogan-3.0.1.js"></script>
		
		<!--  JQuery -->
		<script src="static/js/jquery.min.js"></script>
		
		<!--  Modernizr.js -->
		<script src="static/js/modernizr.js"></script>
		
		<!--  Liquid Gauge -->
		<script src="static/js/liquidFillGauge.js"> </script>
		
		<!-- D3 -->
		<script src="static/js/d3.v3.min.js"></script>
		<script src="static/js/nv.d3.js"></script>
		
		<!--  Utilities -->
		<script src = 'static/js/Util/Util.js' type='text/javascript'></script>
		<script src = 'static/js/Util/ViewUtilities.js' type='text/javascript'></script>
		
		<!--  View Manager -->
		<script src = 'static/js/View/ViewManager.js' type='text/javascript'></script>
		
		<!--  Models -->
		<script src = 'static/js/Model/Ariel.js' type='text/javascript'></script>
		<script src = 'static/js/Model/LogSource.js' type='text/javascript'></script>
		
		<script src = 'static/js/Model/Main.js' type='text/javascript'></script>
		<script src = 'static/js/Model/Store.js' type='text/javascript'></script>
		<script src = 'static/js/Model/Visualizer.js' type='text/javascript'></script>
		
		<!--  GUI -->
		<script src='static/js/interact.js' type='text/javascript'></script>
		
		<!--  HTML Templates -->
		
		<!--  CSS -->
		<link rel="stylesheet" href="static/css/main.css" />
		<link  href="static/css/nv.d3.css" rel="stylesheet">
		
		<script type='text/javascript'>
			
		</script>
		
	</head>



<body onload="loadApp()">	
<div class="se-pre-con"></div>
	<input type="hidden" name="console_ip" id="console_ip" value="{{console_ip}}">	
		<div id = 'app'>			
			<header> 
			</header>			

			<div class="row">
				<div class="sidebar"> <aside> </aside>
			</div>			
				
				<div class="main" > 
				<br>
				<section> 
				</section>
				<div id = "content"> </div>
				<div id = "visio"> </div>
				
				</div>  
				
			</div>				
		</div>	 	 	

</body>

<script type = "Sidebar" id = "template5">	
	<div class="sidebar">				
		<ul class="nav nav-sidebar">						
			<li id='nav-option-group' onclick = "RenderView('nav-option-group')">						
				<a href="#"> Log Source Group</a>						
			</li>						
			<li id='nav-option-collector' onclick = "RenderView('nav-option-collector')">						
				<a href="#">Event Collectors</a>						
			</li>			
			<li id='nav-option-type' onclick = "RenderView('nav-option-type')">						
				<a href="#">Log Source Type</a>						
			</li>	
		</ul>					
	</div>		
</script>

<script type = 'ApplicationView' ID ='template6'>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			Event Collection Viqualization - Last {{x}} minutes
		</nav>
</script>
</html>
